@use 'base';
.loginPage {
  border: base.$border-style;
  border-radius: base.$border-radius;
  padding: 24px;
  min-width: 350px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  :global .MuiTextField-root {
    margin-bottom: 24px;
    width: 100%;
  }
  form {
    width: 100%;
  }
  button {
    width: 100%;
  }
  h5 {
    margin-bottom: 48px;
  }
}
.rememberMeLogin {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}
.errorMessage {
  width: 100%;
  margin-top: 24px;
  text-align: center;
  color: red;

  line-height: 24px;
}
